.App {
  text-align: center;
  background-color: aliceblue;
  color: #000;
}

.App p {
  margin: 0;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.filesUL {
  margin: 0;
}

.dropzone {
  text-align: center;
  padding: 20px;
  border: 3px dashed #eeeeee;
  background-color: #fafafa;
 color: black;
}

.droppedFiles {
  font-size: medium;
  margin: 10px;
  display: flex;
  flex-direction: row;
  color: black;
}

.dropDiv {
   margin: 30px;
}

.tagResult {
  font-size: small;
  text-align: left;
  white-space: pre-wrap;
  margin: 20px;
  padding: 20px;
  background-color: black;
  color: white;
  border-style: dotted;
}

.note {
  text-align: left;
  color: #000;
  font-size: medium;
}

.numberNote {
  margin: 10px 15px 20px;
  font-size: x-small;
}